* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_acc_form {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    /* margin-top: 80px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_class {
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 4px rgb(153, 153, 153);
    font-family: Arial, Helvetica, sans-serif;
    
}

.buttons_container_class {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 10px;
    
}

.form_class input {
    background-color: rgb(233, 232, 232);
    padding: 5px;
    border-radius: 8px;
    margin: 0;
    border-style: none;
}
.form_class input:hover {
    border: none;
}

.label_input_container {
    padding: 10px;
}
.label_input_container input {
    
}

.button_register_class{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.button_register {
    background-color: rgb(255,204,92);
    border: none;
    border-radius: 4px;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    padding: 15px 30px 15px 30px;
    transition: 0.5s, color 0.5s;
    cursor: pointer;
}
.button_register:hover {
    background-color: rgb(245, 181, 43);
}
.button_register:active {
    background-color: rgb(238, 149, 16);
}