* {
    border: 0;
    font-family: 'Catamaran', sans-serif;
}

.form_card_creator_class {
    background-color: white;
    box-shadow: 0px 0px 8px gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    
}


.preference_card_class {
    padding: 10px;
    text-align: center;
}
.form_card_creator_class h3 {
    margin-top: 10px;
}
.preference_input_class {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
}
.input_radio_class {
    /* background-color: slateblue; */
    padding: 0px 10px  0px 10px;
}
.radio_label_input_class {
    /* background-color: royalblue; */
    padding: 0px 0px 0px 6px;
}

.answer_types_class {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


.answer_truefalse_inputs_class {
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}
.answer_abcd_inputs_class2 {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.answer_abcd_inputs_class{
    /* background-color: springgreen; */
    margin-top: 10px;
}
.input_abcd_class {
    margin: 6px;
}
.input_abcd_answer_class {
    background-color: rgb(231, 229, 229);
    margin-left: 6px;
    padding: 4px;
    outline: none;
}

textarea {
    margin-top: 10px;
    background-color: rgb(231, 229, 229);
    height: 100px;
    width: 400px;
    outline: none;
}



.button_card_creator {
    border-radius: 4px;
    background-color: rgb(255,204,92);
    padding: 10px;
    border: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    transition: 0.5s, color 0.5s;
    cursor: pointer;
}
.button_card_creator:hover {
    background-color: rgb(245, 181, 43);
}
.button_card_creator:active {
    background-color: rgb(238, 149, 16);
}