* {
    margin: 0;
    color: black;
    padding: 0;
    outline: none;
    font-family: 'Catamaran', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(136,216,176);
    height: 80px;
    top: 0;
    /* z-index: 1; */
}

.header_block1_class, .header_block2_class, .header_block3_class {
    padding: 10px 10px 10px 10px;
    /* margin: 0px 40px 0px 40px; */
    /* width: 40vh; */
    /* justify-content: space-around; */
}
.header_block1_class {
    flex-grow: 0.5;
    align-items: center;
    justify-content: center;
}
.header_block2_class {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_block3_class {
    display: flex;
    flex-grow: 0.5;
    justify-content: space-evenly;
    align-items: center;
}


.search_class, .login_class, .signup_class {
    border-radius: 4px;
    background-color: white;
    padding: 8px 8px 8px 8px;
    border: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    transition: 0.5s, color 0.5s;
    cursor: pointer;
}
.search_class:hover, .login_class:hover, .signup_class:hover {
    background-color: rgb(245, 181, 43);
}
.search_class:active, .login_class:active, .signup_class:active {
    background-color: rgb(238, 149, 16);
}

.input_search_class {
    background-color: rgb(136,216,176);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    margin: 0 0 0 10px;
    padding: 5px 5px 5px 5px;
    outline: none;
    color: rgb(82, 82, 82);
}

input:focus::placeholder {
    color: transparent;
}

.main_index {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    /* align-items: stretch; */
    /* height: 86vh; */
    height: 100vh;
}

.column_menu_class {
    /* background-color: rgba(224, 222, 222, 0.527); */
    /* background-color: aquamarine; */
    background-color: rgb(255,204,92);
    flex-grow: 0;

}
.column_menu_class li {
    list-style: none;
    text-align: center;
}
.column_menu_class a {
    display: block;
    padding: 10px;
    transition: background-color 0.5s, color 0.5s;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 1.5em
}
.column_menu_class a:hover {
    background-color: rgb(245, 181, 43);
}
.column_menu_class a:active {
    background-color: rgb(238, 149, 16);
}

.column_card_class {
    display: flex;
    /* background-color: whitesmoke; */
    background-color: whitesmoke;
    flex-direction: column;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.column_3_class {
    /* background-color: rgba(224, 222, 222, 0.527); */
    display: flex;
    /* background-color: whitesmoke; */
    background-color: indianred;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.propaganda {
    background-color: gray;
    width: 170px;
    height: 500px;
}


.footer_class {
    height: auto;
    background-color: rgb(136,216,176);
    display: flex;
    flex-direction: column;
    line-height: 2em;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.footer_class h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}
.footer_div_class {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.footer_options_1, .footer_options_2, .footer_options_3 {
    padding: 10px;
    margin: 10px;
}
.footer_class li {
    list-style: none;
    padding: 10px;
}
.footer_class a, p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}
.footer_class a:hover {
    color: white;
}

.footer_footer_class {
    padding: 10px;
    width: 90vw;
}

.footer_line_class {
    background-color: rgba(0, 0, 0, 0.274);
    opacity: .3;
    position: absolute;
    border: none;
    width: 90vw;
    /* height: 0.5px; */
    /* height: .125rem; */
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.274);
}
.footer_end_class {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer_end_class li, .footer_contacts_class li {
    padding: 0;
}
.footer_contacts_class ul {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: auto;
}
.footer_reserved_class {

}
