* {
    margin: 0;
    color: black;
    padding: 0;
    outline: none;
}

.login_page_class {
    background-color: white;
    box-shadow: 2px 2px 6px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 25em;
    width: 25em;
}

.login_title_class {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.username_input_class, .password_input_class {
    padding: 10px;
}

.login_inputs_class input {
    background-color: rgb(216, 214, 214);
    border-radius: 4px;
    margin-top: 5px;
    padding: 4px;
}

.login_inputs_class p {
    font-size: 12px;
}

.button_div_class {
    height: 5em;
    display: flex;
    flex-direction: column-reverse;
}

.button_login_class {

    border-radius: 4px;
    background-color: rgb(255,204,92);
    padding: 8px 8px 8px 8px;
    border: 0;
    text-align: center;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    transition: 0.5s, color 0.5s;
    cursor: pointer;
    width: 5em;
}

.button_login_class:hover {
    background-color: rgb(245, 181, 43);
}
.button_login_class:active {
    background-color: rgb(238, 149, 16);
}