section {
    height: 80%;
    display: flex;
    margin: 10px;
}
.container_list_result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
}
.container {
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.container_select_list {
    height: 15%;
}
.container_inputs {
    width: 40%;
}

#select_list {
    width: 75%;
    margin-top: 5px;
    color: black;
    font-size: 1.2em;
}
#select_list option {
    color: black;
}


.container_list {
    height: 65%;
}
.container_cards_list {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    overflow: auto;
}

.container_inputs {
    align-items: flex-start;
    flex-direction: column;
}
.buttons_tabs {
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
}
.input_resource {
    display: none;
}
.button_resource {
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    cursor: pointer;
    font-size: 100%;
    transition: 0.5s, color 0.5s;
}
.form_card {
    height: 100%;
    width: 100%;
}
.form_manage_card {
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
}
.button_manage {
    background-color: rgb(26, 26, 26);
}
.form_new_card {
    background-color: grey;
    display: none;
}
.button_new {
    background-color: grey;
}





.container_access_list {
    display: flex;
    align-items: center;
    height: 15%;
}
.container_access_list button {
    width: 30%;
    color: black;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.5s, color 0.5s;
}
.container_access_list button:hover {
    background-color: black;
    color: whitesmoke;
}
.container_crud_buttons {
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    /* height: 15%; */
}
.container_crud_buttons button {
    width: 30%;
    color: black;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.5s, color 0.5s;
}
.container_crud_buttons button:hover {
    background-color: black;
    color: whitesmoke;
}










.showElement {
    display: flex;
}
.hiddeElement {
    display: none;
}