section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
}
.container_buttons_menu,
.container_new_list {
    height: 100%;
    margin: 10px;
}
.container_buttons_menu {
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}
.container_lists_lists,
.container_buttons_lists {
    display: flex;
    margin: 10px;
}
.container_lists_lists {
    background-color: whitesmoke;
    flex-direction: column;
    height: 70%;
    width: 75%;
    overflow: auto;
}
.input_file {
    display: none;
}
.file_name {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    font-size: 100%;
    padding-left: 8px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.548);
    color: black;
}
.file_name:hover {
    background-color: orangered;
}
.container_lists_lists input:checked + label {
    background-color: orange;
}



.container_buttons_lists {
    height: 15%;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}
.container_buttons_lists input {
    width: 30%;
}
.button_menu_lists {
    background-color: whitesmoke;
    color: black;
    margin: 20px;
    padding: 10px;
    font-size: 1.5em;
    transition: 0.2s, color 0.2s;
}
.button_menu_lists:hover {
    background-color: black;
    color: whitesmoke;
}
.container_new_list {
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
}
.input_list_name {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.input_new_list {
    color: black;
    height: 25px;
    width: 80%;
    outline: none;
    cursor: text;
    padding: 7px;
    font-size: 1.2em;
    margin-top: 10px;
}

.container_list_types {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container_inputs label:hover {
    background-color: black;
    color: whitesmoke;
}
.container_inputs input:checked + label {
    background-color: green;
    color: whitesmoke;
}
.input_option {
    display: none;
    transition: 0.2s, color 0.2s;
}
.button_option {
    background-color: whitesmoke;
    color: black;
}
.button_option:active {
    background-color: black;
    color: whitesmoke;
}
.general_button {
    cursor: pointer;
    margin: 10px;
    padding: 7px;
}