<main>

    <section class="container_list_result">

        <div class="container container_select_list">
            <label for="select_list">Select a List</label>
            <select name="select_list" id="select_list">
                <option value="aaaa">aaaa</option>
                <option value="bbb">bbbb</option>
                <option value="cc">cccc</option>
            </select>
        </div>

        <div class="container container_list">

        </div>

        <div class="container container_crud_buttons">
            <button class="general_button" id="button_create">New Card</button>
            
        </div>

    </section>

    <section class="container_inputs">

        

        


        <div class="container container_crud_buttons">
            <button class="general_button" id="button_update">Update</button>
            <button class="general_button" id="button_delete">Delete</button>
        </div>

    </section>

</main>
{{> scripts }}