<main>
    
    <section>

        <div class="container_buttons_menu">

            <div class="container_lists_lists">
                
            </div>


            <div class="container_buttons_lists">
                <button class="general_button button_menu_lists">Go</button>
                <button class="general_button button_menu_lists">Delete</button>
            </div>
            
        </div>


        <div class="container_new_list">
            <div class="input_list_name">
                <h3>List Name</h3>
                <input class="input_new_list" type="text">
            </div>


            <div class="container_list_types">
                <h3>List Type</h3>
                <div class="container_inputs">

                    <input type="radio" class="input_option" id="option_flash_card" name="option_activity" value="Flash Cards">
                    <label class="general_button button_option" for="option_flash_card">Flash Card</label>

                    <input type="radio" class="input_option" id="option_multipleChoice" name="option_activity" value="Multiple Choice">
                    <label class="general_button button_option" for="option_multipleChoice">Multiple Choice</label>

                    <input type="radio" class="input_option" id="option_true_false" name="option_activity" value="True or False">
                    <label class="general_button button_option" for="option_true_false">True or False</label>

                </div>
            </div>

            
            <button class="general_button button_menu_lists">New List</button>
        </div>

    </section>

</main>
{{> scripts }}