<main>
    
    <section>

        <div class="container_buttons_menu">

            <div class="container_lists_lists">
                
            </div>


            <div class="container_buttons_lists">
                <button class="general_button button_menu_lists">Go</button>
                <button class="general_button button_menu_lists">Delete</button>
            </div>
            
        </div>


        <div class="container_new_list">
            <input class="input_new_list" type="text">
            <button class="general_button button_menu_lists">New List</button>
        </div>

    </section>

</main>
{{> scripts }}