<main>

    <section>

        <div class="container_title">
            <h1>Flash Cards</h1>
        </div>

        <div class="container_buttons">
            <a class="general_button button_index" href="/lists">Lists</a>
            <a class="general_button button_index" href="/cards">Cards</a>
        </div>

        <div class="container_buttons">
            <a class="general_button button_index" href="/play">Play</a>
        </div>

    </section>

</main>

{{> scripts }}