<main>

    <div>
        <a class="button_index_return" href="/">Flash Cards</a>
    </div>

    <section>

        <div class="container_title">
            <h1>Flash Cards</h1>
        </div>

        <div class="container_buttons">
            <a class="general_button button_index" href="/lists">Lists</a>
            <a class="general_button button_index" href="/creation">Cards</a>
        </div>

        <div class="container_buttons">
            <a class="general_button button_index" href="/play">Play</a>
        </div>

    </section>
</main>

{{> scripts }}